html{
  background-color: black;
}

/*Header styles*/
header{
  display: flex;
  flex-direction: column;
}

.logo{
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 200px;
  color: white;
}

.logo h2{
  margin-left: 15px;
}

.header-image{
  display: flex;
  align-items: center;
  width: auto;
  height: 400px;
  background-image: url(./images/moto.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 200px;
  width: 250px;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-left: 200px;
}

.nav{
  display: flex;
  align-items: center;
  align-content: center;
  background-color: crimson;
  color: white;
  width: auto;
  height: 40px;
}

.menu{
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  width: 75%;
}
